fastapi
uvicorn[standard]
python-multipart
python-dotenv
pydantic
openai
openai-whisper
opencv-python-headless
mediapipe
tensorflow-cpu
deepface
moviepy
numpy
pillow
pytest
scipy
librosa
mysql-connector-python
requests
tqdm