deepface
fastapi
faster-whisper
librosa
mediapipe
moviepy
mysql-connector-python
numpy
opencv-python-headless
openai
pdfplumber
pillow
pydantic
pytest
python-dotenv
python-multipart
requests
scipy
tensorflow-cpu
torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
tqdm
uvicorn[standard]